:root {
    --black: #000000;
    --white: #ffffff;
    --pink: #F7E5E0;
    --brown: #C5A59D;
    --green: #A1BAA2;
}

.recipeModal {
    background: rgba(0, 0, 0, 0.5);
}

.recipeModalContainer {
    width: 80% !important;
    height: calc(100% - 400px);
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
    background-color: var(--white);
}

.right, .left {
    width: 50%;
}

.right {
    overflow: scroll;
}

.recipeModalImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeModalTop {
    position: relative;
}

h2.recipeModalTitle {
    margin: 0;
}

#saveButton {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #F7E5E0;
    color: black;
    border-radius: 3px !important;
    padding: 5px 10px;
    transition: all 0.3s ease;
    margin: 0;
}

#viewRecipeButton:hover, #saveButton:hover {
    background-color: black;
    color: white;
}

ul.recipeModalList {
    padding-left: 0;
}

ul.recipeModalList li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 899px) {
    .recipeModalContainer {
        height: calc(100% - 200px);
    }
    .right {
        width: 75%;
    }

    .left {
        width: 25%;
    }
}

@media only screen and (max-width: 550px) {
    .recipeModalContainer {
        flex-direction: column;
        overflow: scroll;
    }

    .right, .left {
        width: 100%;
    }

    .left {
        max-height: 400px;
    }

    .right {
        overflow: unset;
    }
}