#buttonContainer {
    display: flex;
    justify-content: center;
    background-color: #A1BAA2;
}

.recipeCardItem {
    flex-basis: calc(33.33% - 16.7px) !important;
    justify-content: center;
}

button {
    background-color: #F7E5E0;
    color: black;
    border: 1px solid #ebd8d3;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#saveButton {
    background-color: #A1BAA2;
    color: black;
    border: 1px solid #90aa91;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


#filter {
    width: 50vw;
    margin: auto;
    background-color: #F7E5E0;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 10px;
}

@media only screen and (max-width: 900px) {
    .recipeCardItem {
    flex-basis: calc(50% - 12.5px) !important;
}
}

@media only screen and (max-width: 550px) {
    .recipeCardItem {
    flex-basis: 100% !important;
}
}