.recipeCardItem {
    flex-basis: calc(33.33% - 16.7px) !important;
    justify-content: center;
}

.recipeCardTitle {
    margin: 0;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    background-color: #A1BAA2;
    gap: 10px;
    padding: 10px;
}

#viewRecipeButton, #saveButton {
    background-color: #F7E5E0;
    color: black;
    border-radius: 3px !important;
    padding: 5px 10px;
    transition: all 0.3s ease;
    margin: 0;
}

#viewRecipeButton:hover, #saveButton:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 899px) {
    .recipeCardItem {
    flex-basis: calc(50% - 12.5px) !important;
}
}

@media only screen and (max-width: 550px) {
    .recipeCardItem {
    flex-basis: 100% !important;
}
}