
:root {
    --black: #000000;
    --white: #ffffff;
    --pink: #F7E5E0;
    --brown: #C5A59D;
    --green: #A1BAA2;
}

.heroSlider {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.swiper-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.swiper-arrow img {
    transition: all 0.5s ease;
}

.swiper-arrow:hover img {
    transform: scale(1.1);
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
}

.swiper {
    z-index: 0;
}

.swiper-wrapper {
    height: 550px;
}

.swiper-slide {
    height: auto;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlayCta {
    position: absolute;
    top: 0;
    left: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(35% - 50px);
    height: 50%;
    text-align: left;
    padding: 25px;
}

h1 {
    text-align: left !important;
    color: white;
    line-height: 1.0;
}

button {
    color: var(--black);
    background-color: var(--green);
    border: 0;
    padding: 5px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 0 !important;
}

button:hover {
    background-color: var(--pink);
}

@media only screen and (max-width: 850px) {
    .overlayCta {
        width: calc(50% - 50px);
        height: 50%;
        left: 75px;
    }

    .swiper-wrapper {
        height: 400px;
        max-height: 600px;
    }
    
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .overlayCta {
        width: calc(100% - 50px);
        height: 100%;
        left: 0;
    }

    h1 {
        font-size: 28px;
    }

    .swiper-arrow {
        position: absolute;
        z-index: 1;
        top: unset;
        bottom: 0px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .swiper-button-prev {
        left: unset;
        right: 75px;
    }

    .swiper-button-next {
        right: 20px;
    }
}