:root {
    --black: #000000;
    --white: #ffffff;
    --pink: #F7E5E0;
    --brown: #C5A59D;
    --green: #A1BAA2;
}

.navigationContainer {
    background-color: var(--green);
    position: relative;
    z-index: 1;
    padding: 10px 0px;
}

nav ul li button {
    color: var(--green);
}

nav .pages {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 10px 25px;
    justify-content: space-around;
    margin: 5px;
}

nav .pages .navItem {
    list-style-type: none;
}

nav .pages .navItem button {
    color: var(--black);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

nav .pages .navItem button:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 0.3s ease;
    background-color: white;
}

nav .pages .navItem button:hover {
    color: white;
}

nav .pages .navItem button:hover:after {
    width: 100%;
}

nav .mob {
    display: none;
}

nav .mob button {
    color: var(--black);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.navDesktop {
    display: block;
}

.navMobile {
    display: none;
}

.navMobile .pages {
    display: none;
}

@media only screen and (max-width: 520px) {

    nav .mob {
        display: block;
        text-align: center;
    }

    nav .pages {
        flex-direction: column;
        text-align: center;
    }

    .navDesktop {
        display: none;
    }

    .navMobile {
        display: block;
    }

    .navMobile .pages.open {
        display: flex;
    }

    .navItem {
        border-top: 1px solid var(--white);
        padding-top: 10px;
    }

    .navItem:first-child {
        margin-top: 10px;
    }
}