:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #f7e5e0;
  --brown: #c5a59d;
  --green: #a1baa2;
}

footer {
  background-color: var(--green);
  text-align: center;
  color: var(--black);
}

footer a {
  color: var(--brown);
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  color: var(--black);
}
